USE [PROGRA4]
GO
/****** Object:  Table [dbo].[CARRITO]    Script Date: 27/07/2016 11:07:59 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRITO](
	[IDCARRITO] [int] IDENTITY(1,1) NOT NULL,
	[IDPERSONA] [int] NOT NULL,
	[IDPRODUCTO] [int] NOT NULL,
	[IDUNIDAD] [int] NOT NULL,
 CONSTRAINT [PKCARRITO] PRIMARY KEY CLUSTERED 
(
	[IDCARRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IDCARRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD  CONSTRAINT [FKPERSONAS] FOREIGN KEY([IDPERSONA])
REFERENCES [dbo].[PERSONAS] ([IDPERSONA])
GO
ALTER TABLE [dbo].[CARRITO] CHECK CONSTRAINT [FKPERSONAS]
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD  CONSTRAINT [FKPRODUCTOS] FOREIGN KEY([IDPRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([IDPRODUCTO])
GO
ALTER TABLE [dbo].[CARRITO] CHECK CONSTRAINT [FKPRODUCTOS]
GO
ALTER TABLE [dbo].[CARRITO]  WITH CHECK ADD  CONSTRAINT [FKUNIDADES] FOREIGN KEY([IDUNIDAD])
REFERENCES [dbo].[UNIDADES] ([IDUNIDAD])
GO
ALTER TABLE [dbo].[CARRITO] CHECK CONSTRAINT [FKUNIDADES]
GO
