<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit'PROGRA4ConnectionString-GABRIE
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="PROGRA4ConnectionString_Andrey" connectionString="Data Source=ANDREY\SQLEXPRESS;Initial Catalog=PROGRA4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PROGRA4_V2ConnectionString" connectionString="Data Source=FOFO\FOFO;Initial Catalog=PROGRA4_V2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PROGRA4_V2ConnectionString2" connectionString="Data Source=FOFO\FOFO;Initial Catalog=PROGRA4_V2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="lt-gmonge.PROGRA4.dbo" connectionString="Data Source=LT-GMONGE;Initial Catalog=PROGRA4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
<appSettings>
    <add key='ValidationSettings:UnobtrusiveValidationMode' value='None' />
  </appSettings>
</configuration>
